*.tx
*.block
*.pem
*cert
*key
gocc/pkg/*
gocc/src/github.com/tharindupr/fabcar/vendor/*
gocc/src/github.com/tharindupr/access_control/vendor/*
gocc/src/github.com/tharindupr/policy_contract/vendor/*
gocc/src/github.com/tharindupr/asset_management/vendor/*
network/bin/logs/*
network/config/crypto-config/*
.vagrant/*
api/node_modules/*

BasicNetwork-2.0/*
ContainerisingCaliperForFabricBenchmark/*